@font-face {
    font-family: 'Poppins-bold';
    src: url('./../font/Poppins-Bold.ttf');
}

@font-face {
    font-family: 'Poppins-regular';
    src: url('./../font/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'Poppins-semibold';
    src: url('./../font/Poppins-SemiBold.ttf');
}

@font-face {
    font-family: 'Poppins-medium';
    src: url('./../font/Poppins-Medium.ttf');
}

:root{
    --primary-color: #f5d446;
    --secondary-color: #f5b501;
    --light: #fff;
    --transparent: transparent;
    --dark: #242424;
    --subtitle-color: #707070;
    /* FONT */
    --regular: 'Poppins-regular';
    --medium: 'Poppins-medium';
    --semibold: 'Poppins-semibold';
    --bold: 'Poppins-bold';
}

*{
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('./../img/bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* width: 100%; */
    height: 90vh;
}

.bg-op{
  background-color: #32457a;
  opacity: 0.5;
  height: 107.5vh;
  width: 100%;
  position: absolute;
}

.subtitle-splash{
  font-size: 60pt; 
  display: block; 
  color: white; 
  margin-top: 100px; 
  position: absolute; 
  text-align: left; 
  margin-right: 150px;
  /* font-family: var(--bold); */
}

.progress {
    margin-top: 300px;
    background-color: var(--light);
    width: 800px;
    height: 20px;
    border-radius: 15px;
    color: #333;
    font-family: var(--bold);
    position: relative;
}

.progress-done {
    /* background: linear-gradient(90deg, rgba(9, 9, 121, 1), rgba(0, 212, 255, 1) 100%); */
    background-color: rgb(250, 247, 103);
    height: 100%;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-origin: center left;
    box-shadow: 0 3px 3px -3px rgb(250, 247, 103);;
}